<hr>
<div class="order clearfix bottom-space" id="anfragen">
  <h2>Jetzt anfragen</h2>
  <p class="disclaimer">
    Dies ist <strong>kein</strong> medizinisches Produkt (keine Atemschutzmaske, Schutzmaske, etc. im medizinischen Sinne).
  </p>
  <form action="https://tinyforms.herokuapp.com/s/Am5kudiheMuPciuJcJ5iFwDR" method="post" id="order-form">
    <fieldset>
      <div class="field">
        <div class="field-label">
          <label class="label">Name</label>
        </div>
        <div class="field-body">
          <input type="text" name="Name" required>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">E-Mail</label>
        </div>
        <div class="field-body">
          <input type="email" name="Email" required>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Straße und Hausnummer</label>
        </div>
        <div class="field-body">
          <input type="text" name="Straße" required>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Postleitzahl</label>
        </div>
        <div class="field-body">
          <input type="text" name="Postleitzahl" required>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Stadt</label>
        </div>
        <div class="field-body">
          <input type="text" name="Stadt" required>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="field">
        <div class="field-label">
          <label class="label">Anzahl</label>
        </div>
        <div class="field-body">
          <input type="text" name="Anzahl" required>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Nachricht</label>
        </div>
        <div class="field-body">
          <input type="text" name="Nachricht" placeholder="optional">
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div class="field">
        <div class="field-label">
        </div>
        <div class="field-body">
          <input type="hidden" name="Datum" value="tinyforms_now">
          <button type="submit" class="is-fullwidth">Abschicken</button>
          <br>
          <p>
            Die Daten werden vertraulich behandelt und ausschließlich zur Bearbeitung von deiner Anfrage verwendet.
          </p>

        </div>
      </div>
    </fieldset>
  </form>
</div>
