<hr>
<div class="order clearfix bottom-space" id="anfragen">
  <h2>Jetzt anfragen</h2>
  <form action="https://getform.io/f/58bfb0d6-fe44-48d1-9f56-64c246521fc1" method="post" id="order-form">
    <fieldset>
      <div class="field">
        <div class="field-label">
          <label class="label">Name</label>
        </div>
        <div class="field-body">
          <input type="text" name="name">
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Email</label>
        </div>
        <div class="field-body">
          <input type="text" name="email">
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Straße und Hausnummer</label>
        </div>
        <div class="field-body">
          <input type="text" name="street">
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Postleitzahl</label>
        </div>
        <div class="field-body">
          <input type="text" name="zip">
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Stadt</label>
        </div>
        <div class="field-body">
          <input type="text" name="city">
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="field">
        <div class="field-label">
          <label class="label">Anzahl</label>
        </div>
        <div class="field-body">
          <input type="text" name="amount">
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Nachricht</label>
        </div>
        <div class="field-body">
          <input type="text" name="message" placeholder="optional">
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div class="field">
        <div class="field-label">
        </div>
        <div class="field-body">
          <button type="submit" class="is-fullwidth">Abschicken</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
