<hr>
<div class="order clearfix bottom-space" id="anfragen">
  <h2>Jetzt anfragen</h2>
  <p class="disclaimer">
    Dies ist <strong>kein</strong> medizinisches Produkt (Atemschutzmaske, Schutzmaske, etc.). Warum es aber sinnvoll ist eine Maske zu tragen kannst du hier nachlesen.
  </p>
  <form action="https://getform.io/f/58bfb0d6-fe44-48d1-9f56-64c246521fc1" method="post" id="order-form">
    <fieldset>
      <div class="field">
        <div class="field-label">
          <label class="label">Name</label>
        </div>
        <div class="field-body">
          <input type="text" name="name" required>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">E-Mail</label>
        </div>
        <div class="field-body">
          <input type="email" name="email" required>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Straße und Hausnummer</label>
        </div>
        <div class="field-body">
          <input type="text" name="street" required>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Postleitzahl</label>
        </div>
        <div class="field-body">
          <input type="text" name="zip" required>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Stadt</label>
        </div>
        <div class="field-body">
          <input type="text" name="city" required>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="field">
        <div class="field-label">
          <label class="label">Anzahl</label>
        </div>
        <div class="field-body">
          <input type="text" name="amount" required>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label class="label">Nachricht</label>
        </div>
        <div class="field-body">
          <input type="text" name="message" placeholder="optional">
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div class="field">
        <div class="field-label">
        </div>
        <div class="field-body">
          <button type="submit" class="is-fullwidth">Abschicken</button>
          <br>
          <p>
            Die Daten werden vertraulich behandelt und ausschließlich zur Bearbeitung von deiner Anfrage verwendet.
          </p>

        </div>
      </div>
    </fieldset>
  </form>
</div>
