{{- define "main" -}}
<div class="main-container">
<div class="header">
  <div class="container">
    <div class="padder">
      <div class="main-description center animated fadeIn">
        <a href="{{ .Site.Params.rootUrl }}"><img style="max-width: 100%" src="{{.Site.Params.logoImage | relURL}}" alt="{{.Site.Params.logoImageAlt}}"></a>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="padder">

      <script>
        // setTimeout(function() { document.location = '{{ .Site.Params.rootUrl }}'; }, 2000);
      </script>
    </div>
  </div>
</div>
{{- end -}}